[submodule "extlib/iopp"]
	path = extlib/iopp
	url = https://github.com/pdinklag/iopp.git
[submodule "extlib/fp"]
	path = extlib/fp
	url = https://github.com/pdinklag/fp.git
[submodule "extlib/oocmd"]
	path = extlib/oocmd
	url = https://github.com/pdinklag/oocmd.git
[submodule "extlib/pm"]
	path = extlib/pm
	url = https://github.com/pdinklag/pm.git
[submodule "extlib/word-packing"]
	path = extlib/word-packing
	url = https://github.com/pdinklag/word-packing.git
[submodule "extlib/lz77"]
	path = extlib/lz77
	url = https://github.com/pdinklag/lz77
[submodule "extlib/code"]
	path = extlib/code
	url = https://github.com/pdinklag/code.git
[submodule "extlib/unordered_dense"]
	path = extlib/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
